/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea 
/public/screens
/public/backgrounds
.idea/scopes/scope_settings.xml

.idea/workspace.xml

.idea/.name

.idea/AppRocket.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/codeStyleSettings.xml
