body{
    background: #3c4047;
}

#box{
    width: 600px;
    position: relative;
    margin: 10% auto 0 auto;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
}

.btn{
    width: 100%;
}

.navbar{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.stripe-button-el{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

h2, h3{
    width: 100%;
    text-align: center;
}
